
<div class="top-line">
  <div class="wrapper">
    <div class="main-title"> 
      <div class="text">Potion</div>
      <div class="subtext">Upload images to github repos.</div>
    </div>
    <div class="login-div">
      <h3 class="title">Select Repository and Branch</h3>
      <select class="repos">
        <option selected="selected">Repository</option>
        <option>mage</option>
        <option>muzi</option>
        <option>potion</option>
        <option>sdslabs</option>
      </select>
      <select class="branch">
        <option selected="selected">Branch</option>
      </select>
      <div class="full-row">
        <button class="btn">Next</button>
      </div>
    </div>
  </div>
</div>