
<div class="top-line">
  <div class="wrapper">
    <div class="left-side">
      <div class="main-title"> 
        <div class="text">Potion</div>
        <div class="subtext">Upload images to github repos.</div>
      </div>
      <div class="login-div">
        <div class="img-holder"></div>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <div class="full-row">
          <button class="btn">Sign-In</button>
        </div>
      </div>
    </div>
  </div>
</div>