.top-line
.wrapper
	.left-pane
		.main-title 
			.text Potion
				.busy.hidden
			.subtext Editor for Jekyll blogs
	.center-pane
		.clearfix
			h4.f-left Drafts
			div.newpostholder
				input#newPostTitle(placeholder="New post title")
				button.btn.f-right#newPostBtn New Post
		ul.block
			each file in drafts
				li.file
					a(href="#", data-draft="true", data-path="#{file.path}") #{file.name}
	.right-pane
		h4 Posts
		ul
			each file in posts
				li.file
					a(href="#", data-path="#{file.path}") #{file.name}