.top-line
.wrapper
	.main-title 
		.text Potion
			.busy.hidden
		.subtext Editor for Jekyll blogs
	.login-div
		h3.title Select Repository and Branch
		select#reponame.repos(autofocus)
			each repo in list
				option(value="#{repo.full_name}") #{repo.name}
		input#branchname(placeholder="Branch Name", value="master")
		.full-row
			button#continue.btn Next
	br
	.notice