.top-line
	h2 #{title()}
.wrapper
	div#editor
		textarea #{data}
	div.top-right.controls
		if isDraft() == true
			div.btn.save Save Draft
			br
			div.btn.publish Publish
		else
			div.btn.save Save & Publish
			br
			div.btn.unpublish Unpublish
		br
		div.btn.admin Admin
		br
		div.btn.preview Preview