.top-line
.wrapper
	.left-pane
		.main-title.inleft
			.text Potion
				.busy.hidden
			.subtext Editor for Jekyll blogs
	h2.title #{title()}
	div#editor
		textarea#textpad #{data}
		div.preview
	div.top-right.controls
		if isDraft() == true
			div.btn.save Save Draft
			br
			div.btn.publish Save and Publish
		else
			div.btn.save Save &amp; Publish
			br
			div.btn.unpublish(title="Will Move Post to drafts") Unpublish
		br
		div.btn.admin(title="Go back to admin page") Admin
		br
		div.btn.previewbtn Preview