.top-line
	.wrapper
		.main-title 
			.busy
			.text Potion
			.subtext Editor for Jekyll blogs
		.login-div
			h3.title Hi, there.
			input#username(type='text', placeholder='Username')
			input#password(type='password', placeholder='Password')
			.full-row
				button.btn.login-submit#login Sign In