.top-line
	.wrapper
		.main-title 
			.text Potion
			.subtext Upload images to github repos.
		.login-div
			h3.title Hi, there.
			input(type='text', placeholder='Username')
			input(type='password', placeholder='Password')
			.full-row
				button.btn.login-submit Sign-In
