.top-line
.wrapper
	.main-title 
		.text Potion
			.busy.hidden
		.subtext Editor for Jekyll blogs
	.login-div
		h3.title Hi, there.
		input#username(autofocus, type='text', placeholder='Username')
		input#password(type='password', placeholder='Password')
		.full-row
			button.btn.login-submit#login Sign In
		br
		.notice
			h4 Note
			p Please enter your github credentials.
				| Your credentials are not stored anywhere, 
				| they are directly sent to api.github.com 
				| via https+digest md5. You can leave your password
				| blank for a read-only (public repository) demo.
				| You can find the source code to review on 
				| <a href="https://github.com/captn3m0/potion">github</a>.