.top-line
		.wrapper
			.left-side
				.main-title 
					.text Potion
					.subtext Upload images to github repos.
				.login-div
					//-h3.title Hi, there.
					.img-holder
					input(type='text', placeholder='Username')
					input(type='password', placeholder='Password')
					.full-row
						button.btn Sign-In
