// Mixins

fullpage()
	position absolute
	top 0
	left 0
	right 0
	bottom 0

usefont()
	font-family "Ubuntu Light", Segoe UI Light, Helevetica Neue, sans-serif
	font-weight normal


appearance(val)
	-webkit-appearance val 
	-moz-appearance val 
	-ms-appearance val 
	-o-appearance val 
	appearance val 