@media(max-width: 767px)
	.wrapper
		z-index 100
	.top-line 
		height 60px
	.main-title
		margin-top 0
		font-size 30px
		color #DDD
		.subtext
			display none

	.main-title.inleft
		position absolute
		top 0
		left 0
		z-index 200
		color #eee
		.subtext
			color #bbb
	.login-div, .notice
		margin-left 5%
		margin-right 5%
		width 90%
		border none
	.notice 
		margin-top 0px