body
	margin 0
.wrapper
	z-index 100
.top-line 
	height 60px
.main-title
	margin-top 10px
	font-size 30px
	color #DDD
	.subtext
		display none

.main-title.inleft
	position fixed
	top 0
	left 0
	z-index 200
	color #eee
	.subtext
		color #bbb
.login-div, .notice
	margin-left 5%
	margin-right 5%
	width 90%
	border none
.login-div
	width 100%
	height 400px
	margin 0
	padding 10px
	position relative
	top 2px
	overflow hidden
	overflow-y scroll
.notice 
	margin-top 0px
	margin-left 0
	margin-right 0
	width 100%
select ~ input#branchname
	margin-left 0px
.options.onMobile
	position fixed
	top 8px
	right 20px
	display block
	button.btn
		padding 7px 4px 8px 4px
		background none
		border-bottom 2px #666 solid
		border-radius 0px
		margin-left 10px
		color #ddd
		&:hover
			color #fff
		&:active
			color #eee
	button.btn.active
		border-bottom-color #33b5e5

.left-pane
	height auto
	width auto
	bottom initial
	.main-title
		position fixed
		left 0px
		top 0
		display inline-block
		text-align left
		width 125px
		margin -5px 10px 0 0
		padding 13px 20px
		background-color #252525
		box-shadow inset -10px 0px 30px 0px rgba(#000,0.2)
.center-pane
	border none
	margin-top 60px
	width 96%
	position absolute
	left -110%
	margin-left 20px
	margin-right 0px
	box-sizing border-box
	padding 0
	transition left .3s ease-in-out
	.newpostholder
		clearfix()
		#newPostTitle
			font-family "Ubuntu Light"
			font-size 20px
			border none
			background none
			padding-bottom 10px
			position absolute
			right 100px
			left 0px
			display block
			top 6px
			float left
			z-index 10
			&:hover, &:active, &:focus
				outline none
			&:focus
				border-bottom-color #33b5e5
		#newPostBtn
			padding 3px 12px 5px 12px
			font-size 14px
			position absolute
			right 38px
			top 6px
			z-index 10
ul.drafts-list
	position relative
	top 40px
	right 4px
	left 2px
	margin 0
	padding-top 10px
	overflow hidden
	overflow-y scroll
	margin-right 6px
.center-pane h4.f-left
	display block
	position fixed
	z-index 10
	background-color #f0f0f0
	top 33px
	height 45px
	width 110%
	left -110%
	border-bottom 1px #e0e0e0 solid
	text-indent -9999px
	transition left .3s ease
.center-pane.active
	left 0
	padding-right 17px
	width 100%
	h4.f-left
		left -10px
.right-pane
	right -100%
	width 90%
	margin-left 5%
	position absolute
	background-color #FFF
	position absolute
	top 60px
	transition position .3s ease-in-out
.right-pane.active
	z-index 2000
	right 0
	left 0
	width 96%
	
.top-right.controls
	top 80px
	right 20px
	border 1px #222 solid
	width 50px
	height 50px
	box-sizing border-box
	background-color #373737
	opacity 0.85
	border-radius 2px
	&:after
		position absolute
		top 7px
		left 14px
		color #ddd
		content '#'
		usefont()
		font-size 28px
	br
		display none
	.btn
		display none
		background-color #393939
		border-radius 0
		&:hover
			background-color #444
		&:active
			background-color #353535
			box-shadow inset 0px 2px 15px 0px rgba(#000, 0.2)
	&:hover
		box-sizing none
		background-color none
		width auto
		height auto
		border none
		opacity 0.92
		&:after
			display none
		.btn
			display block
			border-bottom 1px #272727 solid
			&:first-child
				border-top 1px #272727 solid
h2.title
	color #fff
	display inline-block
	float right
	width auto
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	width 52%
	padding-top 18px
	padding-right 20px
	margin 0
	text-align right
.preview
	font-size 1.2em
	margin 0 20px 0 13px
	padding-top 10px
	color #666
	a
		color darken(#666, 20%)
		&:hover
			color darken(#666, 10%)
		&:active
			color darken(#33b5e5, 2%)
		&:visited
			color darken(#33b5e5, 20%)

.right-pane
	ul.published-list
		box-sizing border-box
		padding-top 10px
		padding-right 15px
		overflow hidden
		overflow-y scroll
		margin-right 4px
