textarea
  padding 20px !important
  padding-top 40px !important
  border none !important
  -webkit-box-sizing border-box !important
  -moz-box-sizing border-box !important
  box-sizing border-box !important
  max-width 900px !important
  height 100% !important
  width 100% !important
  outline none !important
  margin 0 auto !important
  display block !important
  font-size 20px !important
  box-shadow none !important
  resize none !important
  line-height 1.6em !important